.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 15px;
  row-gap: 40px;
  max-width: 2000px;
  margin: 20px;
}

@media (max-width: 1500px) {
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 960px) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}



