.wrapper {
  display: flex;
  max-width: 1200px;

  > div {
    margin: 30px;
  }

  .detailWrapper {
    iframe {
      width: 100%;
      margin-bottom: 20px;
    }

    .channelWrapper {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: white;
      margin-bottom: 30px;

      .imageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        border: 1px solid gray;
        margin-right: 20px;
      }

      img {
        width: auto;
        height: 100%;
      }
    }

    .title {
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .description {
      color: white;
      font-size: 14px;
    }
  }

  .relatedVideoWrapper {
    width: 400px;
    min-width: 400px;

    > div {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 960px) {
  .wrapper {
    flex-wrap: wrap;

    .relatedVideoWrapper {
      width: 100%;
    }
  }
}
